
<body class="hold-transition skin-purple fixed sidebar-mini" >
    <div class="wrapper" >
        <!-- header -->
            <% include component/layout %>
        <!-- sidebar menu -->
           	<% include component/layout %>
        <!-- content -->


        <div class="content-wrapper">
          <% if(pageID == 1) { %>
            <% include component/home/home %>
          <% } else if (pageID == 2) { %>
              <% include component/vehicle/manager %>
          <% } else if (pageID == 3) { %>
              <% include component/vehicle/addVehicle %>
          <% } else if (pageID == 4) { %>
              <% include component/vehicle/editVehicle %>
          <% } else if (pageID == 5) { %>
              <% include component/driver/driver %>
          <% } else if (pageID == 6) { %>
              <% include component/driver/addDriver %>
          <% } else if (pageID == 7) { %>
              <% include component/licence/licence %>
          <% } else if (pageID == 8) { %>
              <% include component/licence/addLicence %>
          <% } else if (pageID == 9) { %>
              <% include component/licence/editLicence %>
          <% } else if (pageID == 0) { %>
              <h1>ERROR</h1>
          <% } else if (pageID == 10) { %>
              <h1>Verification code page here</h1>
          <% } %>
        </div>
  <!-- /.content-wrapper -->
  <%  include component/layout %>
    </div>

</body>
</html>
