<div class="login-container">
            <div class="action-form">
                <form action="" method="post" id="forgotpassowrd_form">
                <h2>Forgot Password</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Nhập email đăng ký tài khoản!</h5>
                        <input type="text" name="email_registration" class="input">
                    </div>
                </div>
                    <p id="email_registration"></p>
                
                <input type="hidden" name="role" value="">
                
                <input type="submit" value="Chấp nhận" class="btn">
            </form>
            </div>
        </div>