
<div class="login-container">
    <div class="action-form">
        <form action="/user/login" method="post" id="login_form">
        <h2>Welcome</h2>
        <div class="input-div one">
            <div class="i">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div>
                <h5>Username</h5>
                <input type="text" name="username" class="input">

            </div>

        </div>
            <p id="username"></p>

        <div class="input-div two">
            <div class="i">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div>
                <h5>Password</h5>
                <input type="password" name="password" class="input">

            </div>

        </div>
            <p id="password"></p>
        <div class="checkbox">
            <label class="switch">
                    <input type="checkbox" id="cb">
                    <span class="slider"></span>
            </label>
            <label for="cb" class="remember">Remember Me!</label>
        </div>
        <a id="forgot" href="/forgot-password">Forgot Password</a>
        <input type="submit" value="Login" class="btn">
    </form>  
        <p style="color:#999">OR</p>
        <a href="/register"><button class="btn">Signup</button></a>
    </div>
</div>