<div class="login-container">
            <div class="action-form">
                <form action="/user/register" method="post">
                <h2>Sign Up</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input type="text" name="username" id="abc" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Họ tên</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-venus-mars" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Giới tính</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Ngày sinh</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Địa chỉ</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Số điện thoại</h5>
                        <input type="text" name="password" class="input">
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Password</h5>
                        <input type="password" name="password" class="input">
                    </div>
                </div>
                
                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h5>Re - Password</h5>
                        <input type="password" name="re-password" class="input">
                    </div>
                </div>

                <input type="hidden" name="role" value="">
                
                <input type="submit" value="Login" class="btn">
            </form>
            </div>
        </div>