<% include ../layout/head %>

<body class="hold-transition skin-purple fixed sidebar-mini" >
    <div class="wrapper" >
        <!-- header -->
        <% include ../layout/header %>
        <!-- sidebar menu -->
        <% include ../layout/sidebar %>
        <!-- content -->


        <div class="content-wrapper">

            <section class="content-header">
                <h1>Driver</h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-car"></i> Driver</a></li>
                </ol>
                <hr>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Quản lý tài xế</h3>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <div style="padding: 10px;">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <th>STT</th>
                                            <th>City</th>
                                            <th>District</th>
                                            <th>Address 1</th>
                                            <th>Address 2</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td width="5%" align="center">1</td>
                                            <td width="15%">Lamboghini</td>
                                            <td width="15%">blabla</td>
                                            <td width="25%">vàng</td>
                                            <td width="30%">4</td>
                                            <td width="10%" align="center">
                                                <div class="btn-group">
                                                    <a href="/driver/edit-driver">
                                                        <button type="button" class="btn btn-primary bg-color" style="width: 10rem">
                                                            Sửa
                                                        </button>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr></tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="box-footer" align="center">
                                <a href="/driver/add-driver">
                                    <button type="button" class="btn btn-primary bg-color">
                                        Thêm tài xế
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        <%  include ../layout/footer %>
    </div>
    <% include ../layout/script %>
</body>
</html>