<section class="content-header">
              <h1>Quản lý xe</h1>
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-car"></i> Quản lý xe</a></li>
              </ol>
              <hr>
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Quản lý xe</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                      <div style="padding: 10px;">
                        <table class="table table-hover table-bordered">
                        <thead>
                          <th>STT</th>
                          <th>Tên xe</th>
                          <th>Hãng xe</th>
                          <th>Màu xe</th>
                          <th>Chỗ ngồi</th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr>
                            <td width="5%">1</td>
                            <td width="30%">Lamboghini</td>
                            <td width="20%">blabla</td>
                            <td width="20%">vàng</td>
                            <td width="10%">4</td>
                            <td width="15%" align="center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary bg-color" data-toggle="modal" data-target="#modal-default">
                                Chi tiết
                              </button>
                              <button type="button" class="btn btn-primary bg-color" data-toggle="modal" data-target="#modal-default">
                                Xóa
                              </button>
                              </div>
                            </td>
                          </tr>
                          <tr></tr>
                        
                        </tbody>
                      </table>
                      </div>
                    </div>

                    <div class="box-footer" align="center">
                      <a href="/vehicle/add-vehicle">
                        <button type="button" class="btn btn-primary bg-color">
                                Thêm xe
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Đoạn này là modal -->
             <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Chi tiết xe</h4>
                    </div>
                    <div class="modal-body">
                      <div class="box box-primary">
                        <div class="box-body table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td width="15%">Hãng xe</td>
                                <td width="1%">:</td>
                                <td width="74%">Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Tên xe</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Loại xe</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Engine_Cap</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Màu</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Gross_ton</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Total_weight</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                              <tr>
                                <td>Số chỗ ngồi</td>
                                <td width="1%">:</td>
                                <td>Lamboghini</td>
                              </tr>
                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="/vehicle/edit-vehicle">
                        <button type="button" class="btn btn-primary bg-color" style="width: 15rem;">Sửa</button>
                      </a>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>

            </section>