<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Team OurTrips Entertainment</b>
    </div>
    <strong>Copyright © 2019 Team Contact :<a href="https://www.ominext.com/vi">ahii.com</a></strong>
</footer>