 <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><!-- Show user name --></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU</li>
        <li>
          <a href="/home">
            <i class="fa fa-home"></i> <span>Home</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-car"></i>
            <span>Quản lý phương tiện</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/vehicle"><i class="fa fa-taxi"></i> Quản lý xe</a></li>
            <li><a href="/driver"><i class="fa fa-id-card"></i> Quản lý tài xế</a></li>
            <li><a href="/licence"><i class="fa fa-file-text"></i> Quản lý giấy phép</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-google-wallet"></i> <span>Quản lý ví</span>
          </a>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-road"></i>
            <span>Quản lý chuyến đi</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../charts/chartjs.html"><i class="fa fa-map-marker"></i> Tạo lộ trình</a></li>
            <li><a href="../charts/morris.html"><i class="fa fa-credit-card"></i> Thanh toán</a></li>
            <li><a href="../charts/flot.html"><i class="fa fa-hand-o-left"></i> Phản hồi</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->